* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color:#050a18;

     }

/* Navigation */
nav {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    position: sticky;
    top: 0;
}

nav .logo {
    font-weight: bold;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #2a5298;
}
section {
    min-height: 100vh;
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hero Section */
header {
    color: white;
    padding: 80px 20px;
    background-color:#050a18 ;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color:#050a18 ;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text h3 {
    margin: 10px 0;
    font-weight: normal;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: white;
    color: #2a5298;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ddd;
}

/* Profile Image */
.hero-image img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.hero-image img:hover {
    transform: scale(1.05);
}

/* Sections */
.section {
    padding: 70px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #2a5298;
}
#about{
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;      
}
#skills{
    background-color:#050a18 ;
}

.gray {
    background: #f4f6f9;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Contact Links */
#contact {
    background-color: #050a18;
    color: #fff;
}
#contact a {
    color: #2a5298;
    text-decoration: none;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
        margin-top: 10px;
    }
}
